/* ========== VARIABLES ========== */
:root {
    --color-blue: #07c;
    --color-blue-light1: #f5fcff;
    --color-blue-light2: #99e0ff;
    --color-blue-dark1: #07c;
    --color-blue-dark2: #049;
    --color-red: #e60011;
    --color-red-dark: #680404;
    --color-white: #fff;
    --color-black: #090909;
    --color-grey: #333;
    --color-grey-light1: #d9d9d9;
    --color-grey-light2: #efefef;
    --color-grey-dark: #1e1e1e;

    --font-heading: 'Inter', sans-serif;
    --font-default: 'Source Sans Pro', sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    min-height: 100vh;
    line-height: 1.6;
    color: var(--color-black);
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-grey-light2);
}


/* ========== HEADINGS ========== */
h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    padding: .5rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    background: var(--color-blue-dark2);
    color: var(--color-white);
}


/* ========== HEADER ========== */
header {
    width: 100%;
    padding: 1rem;
    background: var(--color-blue);
    color: var(--color-white);
    text-align: center;
}

/* ========== MAIN CONTENTS ========== */
.container {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 8rem);
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: var(--color-grey-light2);
}

section {
    border-radius: .6rem;
    overflow: hidden;
    border: 1px solid var(--color-blue-dark2);
    background: var(--color-white);
}

section:not(:last-child) {
    margin-bottom: 3rem;
}


/* ========== TRAIN SCHEDULE ========== */
#schedule table {
    width: calc(100% - 4rem);
    margin: 2rem;
}

#schedule table,
#schedule th,
#schedule td {
    border-collapse: collapse;
    border: 1px solid var(--color-grey-light1);
    line-height: 1.5;
    font-size: 1.4rem;
}

#schedule tr:nth-child(even){
    background: var(--color-grey-light2);
}

#schedule th,
#schedule td {
    padding: 5px 10px;
}

#schedule th {
    font-weight: 600;
}


/* ========== ADD / EDIT TRAIN ========== */
#edit-train {
    width: 90%;
    max-width: 60rem;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-train form,
#edit-train form {
    width: calc(100% - 4rem);
    margin: 2rem;
    font-size: 1.4rem;
}

#add-train .form-group:not(:last-child),
#edit-train .form-group:not(:last-child) {
    margin-bottom: 1.5rem;
}

#add-train input,
#edit-train input {
    width: 100%;
    padding: .5rem 1rem;
    display: block;
    font-size: 1.4rem;
}

.btn-form {
    padding: 1rem 2rem;
    color: var(--color-white);
    font-weight: 600;
    border: 0;
    background-color: var(--color-blue-dark2);
    border-radius: .6rem;
    cursor: pointer;
    transition: all .3s;
}

.btn-form:not(:last-child) {
    margin-right: 2rem;
}

.btn-submit {
    color: var(--color-white);
    background-color: var(--color-blue-dark2);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--color-blue);
}

.btn-cancel {
    color: var(--color-white);
    background-color: var(--color-grey);
}

.btn-cancel:hover,
.btn-cancel:focus {
    background-color: var(--color-grey-dark);
}

.dark-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

@media screen and (min-width: 641px) {
    /* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }
}


@media screen and (min-width: 769px) {
    /* width: 769px to  */

}